<launch>    
    <arg name="node_name" default="ip" />
    
    <node pkg="locom_diff" type="locom_boot_diff" name="$(arg node_name)" output="screen">
    
    </node>
    <node pkg="locom_diff" type="oddbot_locom_test" name="oddbot_locom_test" output="screen"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial" output="screen">
	<param name="port" type="string" value="/dev/ttymxc3"/>
    </node>
</launch>
